@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input{
    @apply border border-orange-400 rounded-md focus:border-orange-400 focus:outline-orange-400 p-2
  }
}

.myUnderLine::after {
    content: "";
    margin: 4px auto 0px;
    display: block;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background: #ffc778;
  }